/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*fin*/

body{
    background-color: var(--bg-body);
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.flex{
    display:flex;
}

.justify-between {
    justify-content: space-between;
}

.bg-black{
    background-color: #000;
}

.marcador{
    font-size: 2.25rem;
    line-height: 2.25rem;
    color:oklch(63.7% 0.237 25.331);
}
.botonmodo {
    font-size: 1.875rem;
    line-height: 2.25rem;
    border-width: 1px;
    border-radius: 0.375rem;
    padding: 0.2rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    background-color: var(--bg-botonmodo);
    transition: background-color 0.15s ease-in-out;
}

.botonmodo:hover {
    background-color: var(--bg-botoniniciar-hover);
}

.botonmodo:active {
    background-color: var(--bg-botonmodo-active);
}

.dialogo {
    padding: 0.75rem;
    border-radius: 0.375rem;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;

    background-color: var(--bg-dialog);
    color: var(--text-color);

}

.p-1{
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

.ps-1{
    padding-left: 0.25rem;
}

.rounded{
    border-radius: 0.25rem;
}
.rounded-md{
    border-radius: 0.375rem;
}
.border {
    border-width: 1px;
    border-color: var(--border-color);
    border-style: solid;
}

.mt-1{
    margin-top: 0.25rem;
}

.mb-1{
    margin-bottom: 0.25rem;
}

.flex-col {
    flex-direction: column;
}

.boton-iniciar {
    margin-top: 0.25rem;
    padding: 0.5rem;
    background-color: var(--bg-botoniniciar);
    border-radius: 0.375rem;
    transition: background-color 0.15s ease-in-out;
}

.boton-iniciar:hover {
    background-color: var(--bg-botoniniciar-hover);
}

.boton-iniciar:active {
    background-color: var(--bg-botoniniciar-active);
}

.gap-2 {
    gap: 0.5rem;
}

.my-1{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

hr {
    border: 0;
    border-top: 1px solid var(--border-color);
}

.justify-center {
    display: flex;
    justify-content: center;
}
[hidden] {
    display: none !important;
}

button{
    border:0;
    border-radius: 0.25rem;
	padding: 0.25rem;
}

:root {
    --bg-dialog: white;
    --bg-body: #c0c0c0;
    --bg-tile: #f2f2f2;
    --bg-tile-hover: #d1d1d1;
    --bg-tile-active: #a1a1a1;
    --bg-botonmodo: #717171;
    --bg-botonmodo-hover: #b2b2b2;
    --bg-botonmodo-active: #929292;
    --bg-botoniniciar: #60a5fa;
    --bg-botoniniciar-hover: #93c5fd;
    --bg-botoniniciar-active: #1d4ed8;
    --text-color: black;
    --border-color: black;
}

body[dark] {
    --bg-dialog: #444444;
    --bg-body: #1e1e1e;
    --bg-tile: #2d2d2d;
    --bg-tile-hover: #3d3d3d;
    --bg-tile-active: #1f1f1f;
    --bg-botonmodo: #444444;
    --bg-botonmodo-hover: #555555;
    --bg-botonmodo-active: #333333;
    --bg-botoniniciar: #3b82f6;
    --bg-botoniniciar-hover: #60a5fa;
    --bg-botoniniciar-active: #1e4edd;
    --text-color: white;
    --border-color: white;
}

li{
	margin-bottom: 0.25rem;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-block: .67em;
  color: var(--text-color);
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block: .83em;
}

.m-0{
	margin: 0;
}
